@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Neuton', serif;
}

h1 {
  background-color:rgba(5, 91, 153, 1);
  color:white;
  padding: 1%;
  text-align: center;
  text-shadow: 2px 2px black;
  border-bottom: 2px black solid;
}

.mycalc {
  width:60%;
  background-color:rgba(59, 59, 59, 1);
  margin: 1% auto;
  border-radius: 5px;
  padding: 1%;
}

.output {
  background-color:white;
  height: 10vh;
  border-radius: 5px;
  font-size: 180%;
  padding: 0 1%;
  box-shadow: 1px 1px 5px black;
  text-align: right;
  overflow: hidden;
}

.container {
  text-align: center;
  padding: 1%;
}

.btn {
  display: inline-block;
  background-color:rgba(228, 77, 1, 1);
  width: 23%;
  height: 10vh;
  margin:5px 2px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 10vh;
  color:white;
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
  font-size: 180%;
}

.row{
  width: 100%;
}
